@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
  background: #262834;
  background: linear-gradient(0deg, #9691bc,#5c80b8,#60569b, #595c63);
  }
}

@media (max-width: 648px){
  :root{
    background: rgb(30 41 59)
  }
}